/* Adicione aqui todo o estilo da sua página */
/* Hora de colocar a criatividade em prática! */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#header{
    border: 2px solid black;
    font-size: 15px;
    font-family: 'Monteserrat', sSSans-serif;
}
#logo{
    width: 30%;
    float: right;
        
}
#footer{
    font: white;
    border: 2px solid black;
    font-size: 15px;
    font-family: 'Monteserrat', sans-serif;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: #111;
    text-align:justify;
}
#List {
    list-style-type: none;
    margin: 0;
    font-size: 15px;
    font-family: 'Monteserrat', sans-serif;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  #Navigation-Bar{
    position: fixed;
  }
  .Navigation {
    float: left;
  }
  
  .Navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .Navigation a:hover {
    background-color: #111;
  }
  #Cervas-One{
    float: left;
    width: 50%;
    padding: 5px;
    border-radius: 10px;
  }
  #Cervas-Two{
    float: right;
    width:  44%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 40px;
  }
  .row-cervas{
    margin: 0;
  }
  .row::after{
    content: "";
    clear:both;
    display: table;
  }
#Burger-Fritas{
    max-width: 50%;
    float: left;
    width: 50%;
    padding: 5px;
    border-radius: 10px;
}
.delivery{
    width: 60%;
}
.delivery-right{
    width: 350px;
    float: right;
}
.button{
    background-color: #333;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    cursor: pointer;
    display: inline-block;
    margin-top: 1em;
    margin-left: 3em;
    margin-bottom: 1em;
}
.Depoimentos{
    margin-top: 30em;
    padding: 30px
}
#Chef-Depoimentos{
     text-align: center;
     width: 33;
     
}
.Testemunho{
  border: blue solid 3px;
  width: 33%;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-old {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}




